.wrapper>div{
    position: absolute;
    background: rgb(30, 55, 75);
    padding: 0.7rem;
    box-sizing: border-box;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.wrapper>div>.arrow{
    width: 0;
    height: 0;
    position: absolute;
    border: 0.5rem solid rgb(0, 255, 255);
}
.wrapper>div>.arrow.one{
    border-right-color: transparent;
    border-bottom-color: transparent;
    top:0;
    left: 0;
}

.wrapper>div>.arrow.two{
    border-left-color: transparent;
    border-top-color: transparent;
    bottom:0;
    right: 0;
}

.car-tree{
    display: block;
}

.car-tree>div:not(.arrow){
    margin-bottom: 1rem;
    position: relative;
}
.car-tree>div .title{
    color: rgb(180,252,213);
    font-size: 1rem;
}

.car-tree>div .content{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(0, 255, 255);
}

.car-tree>.history-start{
    position: absolute;
}

.car-tree .car-search {
    height: 3.75rem;
}

.car-tree .car-search .history-start{
    position: absolute;
    top:0.15rem;
    right: 0;
    color: rgb(0, 255, 255);
}

.car-tree .car-search .content{
    height: 2rem;
    line-height: 2rem;
    background: url("../image/search.png") no-repeat 0 0/100% 100%;
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.car-tree .car-search .content input{
    margin-left: 0.5rem;
    color: rgb(0, 255, 255);
}


.car-tree .tree-body{
    overflow: auto;
    height: calc(100% - 5rem);
    color: rgb(0,255, 255);
    scrollBar-face-color:rgb(0, 255, 255);
    scrollBar-hightLight-color:red;
    scrollBar-3dLight-color:orange;
    scrollBar-darkshadow-color:blue;
    scrollBar-shadow-color: rgb(180,252,213);
    scrollBar-arrow-color: rgb(180,252,213);
    scrollBar-track-color:rgb(0,119, 128);
    scrollBar-base-color:pink;
}
.car-tree .tree-body .fa{
    position: absolute;
    right: 0.5rem;
    line-height: 2rem;
}

.car-tree .tree-body .group{
    margin-bottom: 0.5rem;
}
.car-tree .tree-body .group-node{
    height: 2rem;
    line-height: 2rem;
    position: relative;
    background: rgb(4, 101, 119);
}


.car-tree .tree-body .group-node> span{
    display: inline-block;
    line-height: 2rem;
}
.car-tree .tree-body .group-node>span:first-child{
    width: 0.2em;
    height: 2rem;
    background: rgb(0, 255, 255);
    position: absolute;
    top:0;
    left:0;
}

.car-tree .tree-body .group-node> span:nth-child(2){
    line-height: 2rem;
    height: 2rem;
    position: absolute;
    left: 1.5rem;
    top:0;
}

.car-tree .tree-body .childs-node{
    display: none;
}

.car-tree .tree-body .child-node{
    line-height: 2rem;
    height: 2rem;
    margin-bottom: 0.2rem;
    position: relative;
    background: rgb(4, 64, 87);
}

.car-tree .tree-body .offline .carStatus{
    color: rgb(180,252,253);
}


@media screen and (max-width: 1500px){
    .header .header-center .setTime{
        margin-left: -29.5rem;
    }
}









