.wrapper{
    height: 200px;
    background: rgb(30, 55, 75);
    padding: 1rem;
    position: relative;
    box-sizing: border-box;
    font-size: 1rem;
}

.wrapper>.arrow{
    width: 0;
    height: 0;
    position: absolute;
    border: 0.5rem solid rgb(0, 255, 255);
}
.wrapper>.arrow.one{
    border-right-color: transparent;
    border-bottom-color: transparent;
    top:0;
    left: 0;
}

.wrapper>.arrow.two{
    border-left-color: transparent;
    border-top-color: transparent;
    bottom:0;
    right: 0;
}

.wrapper .text{
    width: calc(350px - 1rem);
    height: 150px;
    position: absolute;
    left: 1rem;
    top:40px;
}

.wrapper .text>div>div{
    float: left;
}

.wrapper .text>div{
    height: 20px;
    line-height: 20px;
}

.wrapper .chartContainer{
    width: calc(100% - 350px - 1rem);
    height: 150px;
    top:40px;
    position: absolute;
    left: 350px;
    font-size: 1rem;
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    top: 0;
    left: 0;
    z-index: 3000;
    display: none;
}

.wrapper .chartContainer .chart{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}
.wrapper .chartCover{
    width: 90%;
    height: 60%;
    position: absolute;
    top: 10%;
    left:5%;
    display: none;
    z-index: 1000;
}

.wrapper .chartContainer #pointer{
    border-left: 1px solid red;
    height: 60%;
    left:5%;
    top:10%;
    position: absolute;
}



.wrapper .button{
    width: calc(100% - 2rem);
    position: absolute;
    height: 30px;
    line-height: 30px;
    top:10px;
    left: 1rem;
    color: rgb(0, 255, 255);
}

.wrapper .button>.button-left{
    float: left;
    cursor: pointer;
}

.wrapper .button-right{
    float: right;
    cursor: pointer;
    height: 30px;
}
.wrapper .button-right>div{
    line-height: 30px;
    height: 30px;
}

.wrapper .button-left>div{
    float: left;
    margin-right: 25px;
    line-height: 30px;
    height: 30px;
}

.wrapper #carView{
    height: 30px;
    line-height: 30px;
}

.wrapper .button-right>div{
    float: left;
    margin-left: 25px;
}

.wrapper .button-left #tagChoose{
    width:150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: url("../image/search.png") 0/100% 100% no-repeat;
    cursor: pointer;
}

.wrapper .button-left #tagChoose span{
    cursor: pointer;
}

.wrapper .button-left #tagDetail{
    width: 150px;
    height: 90px;
    position: absolute;
    left: 0;
    top: 30px;
    display: none;
}
.wrapper .button-left #tagDetail span{
    width: 150px;
    height: 30px;
    text-align: center;
    line-height:30px;
    display: inline-block;
    background: url("../image/button-off.png") 0/100% 100% no-repeat;
    float: left;
}

.wrapper .button-left #tagDetail span:hover{
    background-image: url("../image/button-on.png");
    cursor: pointer;
}

